<section class="about" id="about">
  <div class="container">
    <div class="about-main">
      <h2 class="about-main-title visually-hidden">About me</h2>
      <h3 class="about-main-subtitle">
        I work with people all over the world to create impressive and
        <span class="span-red">functional</span
        ><span class="span-grey"> websites</span> that reflect each client's
        unique personality.
      </h3>
    </div>
    <div class="about-image">
      <picture>
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/mobile/about/about-mobile@1x.webp 1x,
            ./images/mobile/about/about-mobile@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            ./images/tablet/about/image@1x.webp 1x,
            ./images/tablet/about/image@2x.webp 2x
          "
        />
        <source
          media="(min-width: 1440px)"
          srcset="
            ./images/desktop/about/about-desktop@1x.webp 1x,
            ./images/desktop/about/about-desktop@2x.webp 2x
          "
        />
        <img
          src="./images/mobile/about/about-mobile@1x.webp"
          alt="young man in a black sweater and glasses working on a laptop"
          width="343"
          height="500"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="about-accordion">
      <ul class="accordion-container">
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">
              About me
              <svg class="" width="36" height="36">
                <use href="./img/Icon_arrow.svg"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <ul>
              <li class="ac-text">
                I am Lloyd Jefferson, a talented programmer with extensive
                expertise in software development. I have an understanding of
                different programming languages and technologies, always ready
                to improve my skills. I always follow the latest trends and look
                for unconventional, creative solutions to problems. I have a
                high level of analytical skills and am able to effectively solve
                even the most difficult tasks encountered on the way.
              </li>
              <li class="ac-text">
                Able to work both independently and in a team. I can effectively
                cooperate with colleagues, exchanging ideas and finding optimal
                solutions. Professional maturity allows you to calmly cope with
                challenges and stressful situations, while maintaining a high
                quality of work. I am always looking for opportunities for
                self-improvement. I actively study new technologies and
                practices to stay abreast of the latest innovations. I have a
                strong understanding of various programming languages,
                frameworks and architectural concepts that allow me to create
                efficient and scalable software.
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">Role</button>
          </h3>
          <div class="ac-panel">
            <ul>
              <li class="ac-text">Frontend development</li>
              <li class="ac-text">HeadlessCMS,Wordpress</li>
              <li class="ac-text">Blender(enjoy)</li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-header">
            <button type="button" class="ac-trigger">Education</button>
          </h3>
          <div class="ac-panel">
            <ul>
              <li class="ac-text">
                2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
                York
              </li>
              <li class="ac-text">
                2019 - 2020 / Advanced Web Development Certificate, GoIT IT
                School, New York
              </li>
              <li class="ac-text">
                2020 - 2022 / Advanced Blender Animation Techniques, Udemy
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="faq">
      <div class="question">
        <h3>About me</h3>

        <svg class="" width="15" height="10" viewbox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p>
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </div>
    </div>
    <div class="faq">
      <div class="question">
        <h3>Role</h3>

        <svg class="" width="15" height="10" viewbox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>Frontend development</p>
        <p>HeadlessCMS,Wordpress</p>
        <p>Blender(enjoy)</p>
      </div>
    </div>
    <div class="faq">
      <div class="question">
        <h3>Education</h3>

        <svg class="" width="15" height="10" viewbox="0 0 42 25">
          <path
            d="M3 3L21 21L39 3"
            stroke="white"
            stroke-width="7"
            stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
        <p>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</p>
      </div>
    </div>

    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">HTML/CSS</li>
        <li class="swiper-slide">JavaScript</li>
        <li class="swiper-slide">React</li>
        <li class="swiper-slide">Node.js</li>
        <li class="swiper-slide">Vue.js</li>
        <li class="swiper-slide">React Native</li>
        <li class="swiper-slide">Soft Skills</li>
        <li class="swiper-slide">Hard Skills</li>
      </ul>
      <button class="custom-next" aria-label="Next slide" tabindex="0">
        <svg width="28" height="28">
          <use href="./images/icon.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
