<section class="benefits" id="benefits">
  <div class="container container-benefits">
    <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
    <div class="benefits-content">
      <ul class="benefits-card">
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./images/icon.svg#icon-user"></use>
          </svg>
          <p class="benefits-title-item">Expertise</p>
          <p class="benefits-text">
            As a highly experienced developer, I have deep knowledge of
            programming and website development.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./images/icon.svg#icon-message-chat"></use>
          </svg>
          <p class="benefits-title-item">Communication</p>
          <p class="benefits-text">
            Understanding your needs and wants is my priority and I am always
            open to discussions and corrections.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./images/icon.svg#icon-brush"></use>
          </svg>
          <p class="benefits-title-item">Art</p>
          <p class="benefits-text">
            Thanks to my creative nature, I am ready to accept challenges and
            help you bring your ideas to life.
          </p>
        </li>
        <li class="benefits-item">
          <svg class="benefits-icon" width="24" height="24">
            <use href="./images/icon.svg#icon-hourglass"></use>
          </svg>
          <p class="benefits-title-item">Urgent execution</p>
          <p class="benefits-text">
            I understand how important time is to you. Ready to work quickly and
            efficiently, without reducing the quality of work.
          </p>
        </li>
      </ul>
      <a href="#work_together" class="benefits-btn">Order the project</a>
    </div>
  </div>
</section>
