<section class="container covers-container">
  <div class="covers">
    <h2 class="visually-hidden">List of projects with carousel effect</h2>
    <ul class="track">
      <li class="away">
        <picture class="carousel-picture">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/desktop/covers/brand-desctop@1x.png 1x,
              ./images/desktop/covers/brand-desctop@1x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/franchesco-tablet@1x.webp 1x,
              ./images/tablet/covers/franchesco-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/franchesco-mobile@1x.webp 1x,
              ./images/mobile/covers/franchesco-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/franchesco-mobile@1x.webp"
            alt="franchesco image"
            width="283"
            height="163"
          />
        </picture>
      </li>
      <li class="away">
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/pulse-tablet@1x.webp 1x,
              ./images/tablet/covers/pulse-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/pulse-mobile@1x.webp 1x,
              ./images/mobile/covers/pulse-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/pulse-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/mimino-tablet@1x.webp 1x,
              ./images/tablet/covers/mimino-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/mimino-mobile@1x.webp 1x,
              ./images/mobile/covers/mimino-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/mimino-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
      </li>
      <li class="away">
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/finance-tablet@1x.webp 1x,
              ./images/tablet/covers/finance-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/finance-mobile@1x.webp 1x,
              ./images/mobile/covers/finance-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/finance-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/watch-tablet@1x.webp 1x,
              ./images/tablet/covers/watch-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/watch-mobile@1x.webp 1x,
              ./images/mobile/covers/watch-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/watch-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/ukrainian-tablet@1x.webp 1x,
              ./images/tablet/covers/ukrainian-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/ukrainian-mobile@1x.webp 1x,
              ./images/mobile/covers/ukrainian-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/ukrainian-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
      </li>
      <li class="away">
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/harvest-tablet@1x.webp 1x,
              ./images/tablet/covers/harvest-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/harvest-mobile@1x.webp 1x,
              ./images/mobile/covers/harvest-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/harvest-mobile@1x.webp"
            alt="pulse image"
            width="283"
            height="163"
          />
        </picture>
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/body-tablet@1x.webp 1x,
              ./images/tablet/covers/body-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/body-mobile@1x.webp 1x,
              ./images/mobile/covers/body-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/body-mobile@1x.webp"
            alt=""
            width="283"
            height="163"
          />
        </picture>
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/work-tablet@1x.webp 1x,
              ./images/tablet/covers/work-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/work-mobile@1x.webp 1x,
              ./images/mobile/covers/work-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/work-mobile@1x.webp"
            alt=""
            width="283"
            height="163"
          />
        </picture>
      </li>
      <li class="away">
        <picture class="carousel-picture">
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/covers/english-tablet@1x.webp 1x,
              ./images/tablet/covers/english-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 320px) and (max-width: 767px)"
            srcset="
              ./images/mobile/covers/english-mobile@1x.webp 1x,
              ./images/mobile/covers/english-mobile@2x.webp 2x
            "
          />
          <img
            src="./images/mobile/covers/english-mobile@1x.webp"
            alt=""
            width="283"
            height="163"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
