<section class="container">
  <div class="container">
    <h2 class="visually-hidden"></h2>
    <ul class="track">
      <li class="away">
        <img
          src="../images/mobile/covers/body-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/body-mobile@1x.webp 1x,
            ../images/mobile/covers/body-mobile@2x.webp 2x
          "
        />
      </li>
      <li class="away">
        <img
          src="../images/mobile/covers/pulse-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/pulse-mobile@1x.webp 1x,
            ../images/mobile/covers/pulse-mobile@2x.webp 2x
          "
        />
        <img
          src="../images/mobile/covers/mimino-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/mimino-mobile@1x.webp 1x,
            ../images/mobile/covers/mimino-mobile@2x.webp 2x
          "
        />
      </li>
      <li class="away">
        <img
          src="../images/mobile/covers/finance-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/finance-mobile@1x.webp 1x,
            ../images/mobile/covers/finance-mobile@2x.webp 2x
          "
        />
        <img
          src="../images/mobile/covers/watch-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/watch-mobile@1x.webp 1x,
            ../images/mobile/covers/watch-mobile@2x.webp 2x
          "
        />
        <img
          src="../images/mobile/covers/ukrainian-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/ukrainian-mobile@1x.webp 1x,
            ../images/mobile/covers/ukrainian-mobile@2x.webp 2x
          "
        />
      </li>
      <li class="away">
        <img
          src="../images/mobile/covers/harvest-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/harvest-mobile@1x.webp 1x,
            ../images/mobile/covers/harvest-mobile@2x.webp 2x
          "
        />
        <img
          src="../images/mobile/covers/body-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/body-mobile@1x.webp 1x,
            ../images/mobile/covers/body-mobile@2x.webp 2x
          "
        />
        <img
          src="../images/mobile/covers/work-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/work-mobile@1x.webp 1x,
            ../images/mobile/covers/work-mobile@2x.webp 2x
          "
        />
      </li>
      <li class="away">
        <img
          src="../images/mobile/covers/english-mobile@1x.webp"
          alt=""
          srcset="
            ../images/mobile/covers/english-mobile@1x.webp 1x,
            ../images/mobile/covers/english-mobile@2x.webp 2x
          "
        />
      </li>
    </ul>
  </div>
</section>
