<script src="js/faq-accordion.js"></script>
<section id="faq" class="container faq-conteiner">
  <h2 class="faq-title">FAQ</h2>
  <ul class="faq-list">
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">
          What programming languages ​​are&nbsp;most often used in your project?
        </h3>
        <p class="faq-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg
          class="icon-arrow-up"
          width="20"
          height="20"
          stroke="#FAFAFA"
          stroke-width="2"
          fill="none"
        >
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">
          What are the deadlines for the&nbsp;project?
        </h3>
        <p class="faq-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg class="icon-arrow-up" width="20" height="20">
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">What payment methods do you&nbsp;accept?</h3>
        <p class="faq-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg class="icon-arrow-up" width="20" height="20">
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">How can I contact you?</h3>
        <p class="faq-text">
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg class="icon-arrow-up" width="20" height="20">
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">
          Do you provide advice <span class="break">or support?</span>
        </h3>
        <p class="faq-text">
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg class="icon-arrow-up" width="20" height="20">
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
    <li class="faq-list-item">
      <div class="text-part">
        <h3 class="faq-subtitle">
          What does the process of developing a software
          <span class="last-break">
            product look&nbsp;like from idea to implementation?
          </span>
        </h3>
        <p class="faq-text">
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>

      <button class="faq-button" type="button">
        <svg class="icon-arrow-up" width="20" height="20">
          <use href="../images/icon.svg#icon-arrow-up"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
