<!-- розмітка хедера -->
<header class="header">
  <div class="container header-container">
    <div class="logo-box">
      <a href="index.html" class="logo-link">
        <picture>
          <source
            srcset="
              ./images/mobile/header/jefferson-face-mobile@2x.webp 2x,
              ./images/mobile/header/jefferson-face-mobile@1x.webp 1x
            "
            media="(max-width:767px)"
            type="image/webp"
          />
          <img
            src="./images/mobile/header/jefferson-face-mobile@1x.webp"
            alt="logo"
            class="header-logo"
            width="80"
            height="80"
          />
        </picture>
        <span class="logo-header">jefferson*</span>
      </a>
    </div>

    <nav class="nav">
      <div class="navbar">
        <a class="nav-menu" href="#">Menu</a>
        <ul class="menu-list">
          <li class="menu-item">
            <a class="menu-link" href="#about">About me</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#benefits">Benefits</a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="#projects">Projects</a>
          </li>
          <li class="menu-item"><a class="menu-link" href="#faq">FAQ</a></li>
        </ul>
      </div>
    </nav>
    <button
      class="order-btn"
      type="button"
      aria-label="button order-project"
      title="Order the project"
    >
      Order the project
    </button>
    <button
      aria-label="button open-menu"
      type="button"
      class="burger-btn js-open-menu"
      title="Toggle menu"
    >
      <svg class="burger-icon" width="28" height="28">
        <use href="images/icon.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
