<section class="container">
  <div class="hero">
      <h1 class="hero-title">HELLO.<br> I’M FULLSTACK DEVELOPER<br> LLOYD JEFFERSON.</h1>
      <div class="some">
        <ul class="social-links">
          <li class="social-items"><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
          <li class="social-items"><a href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
          <li class="social-items"><a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
          <li class="social-items"><a href="#">GH</a></li>
          <li class="social-items style"><a href="#" id="email-link" target="_blank">lloydjefferson@gmail.com</a></li>
      </ul>
      </div>
  </div>
</section>
<!-- <script src="../js/hero.js" defer></script> -->