<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      HELLO.<br />
      I’M FULLSTACK DEVELOPER<br />
      LLOYD JEFFERSON.
    </h1>
    <div class="wrap">
      <ul class="social-links">
        <li>
          <a
            class="social-items"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li>
          <a
            class="social-items"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li>
          <a
            class="social-items"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li>
          <a
            class="social-items"
            href="https://github.com/Vitavanika/project-DevModern"
            target="_blank"
            >GH</a
          >
        </li>
        <li>
          <a class="social-items style" href="#" id="email-link" target="_blank"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
