<section class="hero">
  <div class="container">
    <div class="wrap-title">
      <h1 class="hero-title">HELLO.<br> I’M FULLSTACK DEVELOPER<br> LLOYD JEFFERSON.</h1>
    </div>
    <div class="wrap">
      <ul class="social-links">
        <li class="social-items"><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
        <li class="social-items"><a href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
        <li class="social-items"><a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
        <li class="social-items"><a href="https://github.com/Vitavanika/project-DevModern" target="_blank">GH</a></li>
        <li class="social-items style"><a href="#" id="email-link" target="_blank">lloydjefferson@gmail.com</a></li>
      </ul>
    </div>
  </div>
</section>