
<footer class="container">
    <div>
        <div class="branding__logo">
            <img class="branding__logo-img" srcset="../images/mobile/work/glass-effect-work@1x.png" src="../images/mobile/work/" alt="my photo" width="44" height="44" />
            <h2 class="branding__title">
                <span class="branding__title--white">LET'S</span>
                <span class="branding__title--red">WORK</span>
                <span class="branding__title--white">TOGETHER</span>
            </h2>
        </div>
        <form class="contact__form" id="work-form">
            <fieldset class="contact__form-fieldset">
                <input class="contact__form-email" name="email" type="email" placeholder="clients@gmail.com"
                    pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required
                    title="Enter the correct email address (eg example@domain.com)" />
                <textarea class="contact__form-comment" name="comment" id="work-form-comment" placeholder="comments"
                    rows="1" required></textarea>
            </fieldset>
            <button class="contact__form-send" id="button-send" type="submit">
                Send
            </button>
        </form>
        <nav class="contact__nav">
            <a href="mailto:lloydjefferson@gmail.com" class="contact__email links">lloydjefferson@gmail.com</a>
            <a class="contact__tel links" href="tel:+380111111111">+380 11 1111 11 11</a>
        </nav>
    </div>
    <div class="modal__overlay visually-hidden" id="work-overlay">
        <div class="modal__content">
            <button class="modal__close-button" id="modal-close-btn" aria-label="Close modal">
                <span class="modal__close-button-line first rotate" data-line="first"></span>
                <span class="modal__close-button-line second rotate" data-line="second"></span>
            </button>
            <h3 class="modal__title">
                Thank you for your interest in cooperation!
            </h3>
            <p class="modal__text">
                The manager will contact you shortly to discuss further details and
                opportunities for cooperation. Please stay in touch.
            </p>
        </div>
    </div>
</footer>