.covers-container {
  padding: 0;
  /* overflow: hidden; */
}

.covers {
  position: relative;
  height: 508px;
  overflow: hidden;
  background-image: url('../images/mobile/covers/bg-mobile@1x.png'),
    url('../images/mobile/covers/bg-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: left 80px top 150px, right 20px bottom 115px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .covers {
    background-image: url('../images/mobile/covers/bg-mobile@2x.png'),
      url('../images/mobile/covers/bg-mobile@2x.png');
  }
}

.track {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
}

.away {
  /* display: flex; */
  object-fit: none;
  /* overflow: hidden; */
}
.away > div {
  display: flex;
}

.away:not(:last-child) {
  margin-bottom: 16px;
}

.swiper-wrapper-covers {
  width: 100%;
  display: flex;
  gap: 16px;
  animation: riwer 20s linear infinite;
}

@keyframes riwer {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel-picture img {
  width: 283px;
  height: 163px;
  max-width: none;
}

/* .carousel-picture:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
} */

@media only screen and (min-width: 768px) {
  .swiper-wrapper-covers {
    gap: 24px;
  }

  .away:not(:last-child) {
    margin-bottom: 24px;
  }

  .carousel-picture img {
    width: 544px;
    height: 314px;
  }

  .covers {
    height: 960px;
    background-position: right 250px bottom 600px, left 400px top 400px;
  }

  /* .track {
    transform-origin: center;
    transform: ;
  } */
}

@media only screen and (min-width: 1440px) {
  .covers {
    background-image: url('../images/mobile/covers/bg-mobile@1x.png'),
      url('../images/mobile/covers/bg-mobile@1x.png'),
      url('../images/mobile/covers/bg-mobile@1x.png');
    background-repeat: no-repeat;

    background-position: left 180px bottom 500px, right 950px bottom 220px,
      left 900px top 450px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .covers {
      background-image: url('../images/mobile/covers/bg-mobile@2x.png'),
        url('../images/mobile/covers/bg-mobile@2x.png');
    }
  }

  /* .track {
    transform-origin: center;
    transform: translateY(-380px) translateX(-700px);
  } */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}
