.covers-container {
  padding: 0;
}

.covers {
  height: 508px;
  overflow: hidden;
  background-image: url('../images/mobile/covers/bg-mobile@1x.png'),
    url('../images/mobile/covers/bg-mobile@1x.png');
  background-repeat: no-repeat;
  background-position: left 80px top 150px, right 20px bottom 115px;
}

.away:not(:last-child) {
  margin-bottom: 20px;
}

.track {
  overflow: hidden;
  display: none;
}

.away {
  display: flex;
  object-fit: none;
  overflow: hidden;
  gap: 20px;
}

.carousel-picture img {
  width: 283px;
  height: 163px;
  max-width: none;
}

@media (min-width: 768px) {
  .carousel-picture img {
    width: 544px;
    height: 314px;
  }
}
