.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accordion-item {
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding-bottom: 40px;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  cursor: pointer;
}

.accordion-header .faq-subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin: 0;
  flex-grow: 1;
  padding-right: 50px;
}

.accordion-header .faq-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  background: transparent;
  width: 34px;
  height: 34px;
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.faq-button {
  margin-right: 32px;
  flex-shrink: 0;
  position: static;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
}

.accordion-item.is-active .accordion-content {
  max-height: 1000px;
}

.accordion-item.is-active .icon-arrow-up {
  transform: rotate(0deg);
}
.icon-arrow-up {
  transition: transform 300ms ease-in;
  transform: rotate(180deg);
}

.faq-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 16px;
  padding-right: 50px;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 52px;
}

.break {
  display: block;
}

.last-break {
  display: block;
}

/* Tablet */
@media only screen and (max-width: 768px) {
  .accordion-container {
    gap: 56px;
  }

  .faq-title {
    margin-bottom: 64px;
  }

  .break {
    display: inline;
  }

  .accordion-header .faq-button {
    width: 40px;
    height: 40px;
  }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
  .accordion-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    position: relative;
    border-top: 1px solid rgba(250, 250, 250, 0.2);
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .accordion-item {
    padding: 32px 0 42px 0;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  }

  .accordion-item:last-child {
    border-bottom: none;
  }

  .accordion-item:nth-child(4),
  .accordion-item:nth-child(6),
  .accordion-item:nth-child(2) {
    padding-left: 32px;
  }

  .accordion-item:nth-child(7) {
    padding-bottom: 62px;
  }

  .accordion-container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: rgba(250, 250, 250, 0.2);
    transform: translateX(-50%);
  }

  .break {
    display: inline;
  }

  .last-break {
    display: block;
  }
}
