.hero {
  min-width: 320px;
  padding: 32px 0;
  background: url(../images/mobile/hero/bg-hero-mobile@1x.png) no-repeat;
  background-size: auto 100%;
  background-position: left top;
  position: relative;
}

@media (min-resolution: 2dppx) {
  .hero {
    background: url(../images/mobile/hero/bg-hero-mobile@2x.png) no-repeat;
    background-size: auto 100%;
    background-position: left top;
  }
}

.hero-title {
  margin-top: 249px; /*потім змінити і перенести до хедера */
  align-items: center;
  font-weight: 500;
  font-size: clamp(44px, calc(10.91vw + 8.1px), 50px);
  line-height: 1;
  letter-spacing: -1.5px;
  color: #fafafa;
  text-transform: uppercase;
  margin-bottom: 249px;
}

.wrap {
  position: absolute;
  right: 16px;
  bottom: 32px;
  width: calc(100vw - 24px);
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 4px;
}

.social-items {
  color: #fafafa;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  white-space: nowrap;
  transition: border-color 0.3s ease;
}

.social-items:hover,
.social-items:focus-within {
  border-color: #fafafa;
  outline: none;
}

.social-items:active {
  border-color: #ed3b44;
  color: #ed3b44;
}

.social-items a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
}

.style {
  display: flex;
  padding: 8px 8px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

/* Style tablet */
@media only screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 32px 0;
    background: url(../images/tablet/hero/bg-hero-tablet@1x.png) no-repeat;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background: url(../images/tablet/hero/bg-hero-tablet@2x.png) no-repeat;
      background-size: auto 100%;
    }
  }

  .hero-title {
    width: 632px;
    font-size: 90px;
    letter-spacing: -2.7px;
    margin-bottom: 187px;
  }

  .social-links {
    display: flex;
    gap: 8px;
    margin-left: auto;
  }

  .wrap {
    position: absolute;
    right: 32px;
    bottom: 32px;
    width: calc(100vw - 64px);
  }
}

/* Desktop (1440px) */
@media only screen and (min-width: 1440px) {
  .hero {
    max-width: 1440px;
    background: url(../images/desktop/hero/bg-hero-desktop@1x.png) no-repeat;
  }

  @media (min-resolution: 2dppx) {
    .hero {
      background: url(../images/desktop/hero/bg-hero-desktop@2x.png) no-repeat;
      background-size: auto 100%;
    }
  }

  .hero-title {
    width: 1084px;
    margin-bottom: 243px;
  }
  .wrap-title {
    padding: 0 178px;
  }
}
