.reviews-section {
  background: #1c1d20;
}
.reviews > .swiper {
  border-radius: 20px;
}
@media only screen and (max-width: 375px) {
  .reviews > .swiper {
    width: clamp(288px, calc(288px + (100vw - 320px) * 1), 343px);
  }
}

.reviews-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.reviews-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}
.reviews-items {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
  width: 343px;
  min-height: 302px;
}
@media only screen and (min-width: 768px) {
  .reviews-items {
    width: calc((100% - 16px) / 2);
  }
}
@media only screen and (min-width: 1168px) {
  .reviews-items {
    width: calc((100% - 3 * 16px) / 4);
  }
}

.reviews-photo {
  border-radius: 10px;
  margin-bottom: 32px;
}
.reviews-card-text {
  position: relative;
  overflow: hidden;
}

.reviewer-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}

.reviewer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  display: -webkit-box;
  -webkit-line-clamp: 5; /* кількість рядків*/
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
/*reviewer-scrollable*/
.reviewer-text.scrollable {
  overflow-y: auto;
  -webkit-line-clamp: unset;
  display: block; /* Забирає обмеження в рядках */
  max-height: 120px; /* Фіксована висота, як у 5 рядків */
  padding-right: 4px; /* трохи місця для скролбару */
}

.reviewer-text.scrollable::-webkit-scrollbar {
  width: 6px;
}
.reviewer-text.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.button-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.left-rev-btn,
.right-rev-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s, stroke 0.3s, opacity 0.3s;
  stroke: rgba(250, 250, 250, 1);
  stroke-width: 2px;
}
@media only screen and (min-width: 768px) {
  .button-wrapper {
    gap: 20px;
  }
  .left-rev-btn,
  .right-rev-btn {
    width: 68px;
    height: 68px;
    padding: 18px;
  }
  .left-rev-btn svg,
  .right-rev-btn svg {
    width: 32px;
    height: 32px;
  }
}

/* Disable button */
.rev-btn-disabled,
.left-rev-btn:disabled,
.right-rev-btn:disabled {
  border-color: rgba(250, 250, 250, 0.2);
  cursor: default;
  pointer-events: none;
  opacity: 0.6;
  stroke: rgba(250, 250, 250, 0.2);
}

/* Error Massege */
#reviews-error-wrapper {
  text-align: center;
  margin-top: 20px;
}

.reviews-error {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: #db5050;
  margin-bottom: 24px;
}

.retry-reviews-btn {
  border-radius: 60px;
  padding: 18px 50px;
  background: #ed3b44;
  color: #333;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 0.3s;
}

.retry-reviews-btn:hover,
.retry-reviews-btn:focus-visible {
  background: #e0373f;
}

.retry-reviews-btn:active {
  background: #fafafa;
  color: #ed3b44;
}
.hidden {
  display: none;
}
